.container {
    width: 100%;
    max-width: 320px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ECF0F5;
}

.descriptionBox{
    display: flex;
    align-items: center;
    padding-left: 40px;
    height: 70px;
    border-bottom: 1px solid #ECF0F5;
    font-size: 16px;
    font-weight: 500;
}

.usersBox{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 30px;
}