.label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.labelError {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: red;
}

.input {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}