.button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    border: none;
    background-color: #fff;
    cursor: pointer;

    &[data-mode='big'] {
        gap: 16px;
    }

    &[data-icon-position='after']{
        flex-direction: row-reverse;
    }
}

.icon {
    width: 24px;
    height: 24px;
}

.label {
    line-height: 1;
}

